USE [Cognia_DEV]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 30-04-2021 23:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[name] [nchar](10) NULL,
	[address] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
